@import url('../main.css');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');

.grid-wrapper{
    display: grid;
    grid-template-columns: 8% 84% 8%;
    grid-template-rows: auto auto auto auto auto;
}
.navbar{
    grid-column: 1/4;
    grid-row: 1/2;
}
