@import url('/main.css');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');

.grid-wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
}
.navbar{
    grid-column: 1/3;
    grid-row: 1/2;
}