@import url('/main.css');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');

.grid-wrapper{
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
.navbar{
    grid-row: 1/2;
}
.wishlist-header{
    grid-row: 2/3;
    padding: 1rem;
    text-align: center;
}
.main{
    grid-row: 3/4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}